<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.laqshya.studenttracker">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:name=".activity.di.StudentTrackerApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainScreenNavigationDrawer"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" android:exported="true"/>
        <activity android:name=".activity.AddSchedules" android:screenOrientation="portrait"/>
        <activity android:name=".activity.EditSchedules" />

        <service
            android:name=".activity.service.MyFirebaseMessagingService"  android:stopWithTask="false" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>
        <activity android:name=".activity.BroadcastActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>